{% extends 'base.html.twig' %}


{% block body %}

	<h1 id="titre">Bienvenue sur votre application Dynamite Games</h1>
	<center><img id="logo" src="{{asset('assets/images/articles/dglogo.png') }}"/></center>


{% endblock %}
