body {
  padding: 2%;
}

table {
  max-width: 100%;
}

thead,
th {
  color: blueviolet;
}

h1 {
  text-align: center;
}

#create {
  height: 9vh;
  width: 4vw;
}

img {
  height: 170px;
  width: 120px;
}
