{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Games
{% endblock %}

{% block body %}
	<h1>Créer un nouveau jeu</h1>

	{{ include('games/_form.html.twig') }}
	<button type="button" class="btn btn-outline-warning">
		<a href="{{ path('games_index') }}">Retour à la liste</a>
	</button>
{% endblock %}
