{% extends 'base.html.twig' %}

{% block title %}New Plateform{% endblock %}

{% block body %}
    <h1>Create new Plateform</h1>

    {{ include('plateform/_form.html.twig') }}

    <a href="{{ path('plateform_index') }}">back to list</a>
{% endblock %}
